<%= form_for(dene) do |f| %>
  <% if dene.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dene.errors.count, "error") %> prohibited this dene from being saved:</h2>

      <ul>
      <% dene.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :isim %>
    <%= f.text_field :isim %>
  </div>

  <div class="field">
    <%= f.label :soyad %>
    <%= f.text_field :soyad %>
  </div>

  <div class="field">
    <%= f.label :yas %>
    <%= f.text_field :yas %>
  </div>

  <div class="field">
    <%= f.label :düşünceler %>
    <%= f.text_area :düşünceler %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
