<p id="notice"><%= notice %></p>

<p>
  <strong>Isim:</strong>
  <%= @dene.isim %>
</p>

<p>
  <strong>Soyad:</strong>
  <%= @dene.soyad %>
</p>

<p>
  <strong>Yas:</strong>
  <%= @dene.yas %>
</p>

<p>
  <strong>Düşünceler:</strong>
  <%= @dene.düşünceler %>
</p>

<%= link_to 'Edit', edit_dene_path(@dene) %> |
<%= link_to 'Back', denes_path %>
